.footer{
  background-image: url(https://keenitsolutions.com/products/html/educavo/landing/assets/images/footer-bg.png);
  background-color: #112958;
  background-repeat: repeat;
  height: 500px;
}
.end{
  margin-top: 150px;
}
.text{
  padding-top: 70px;
  
}